#Eureka
eureka:
  instance:
    hostname: localhost
    secure-port: 8761
  client:
    register-with-eureka: true
    fetch-registry: false
    eureka-server-connect-timeout-seconds: 3000
#JPA properties
spring:
  application:
    name: book-service
  datasource:
    schema: classpath:/db/migration/schema
    url: jdbc:postgresql://tuffi.db.elephantsql.com:5432/goqhhfqc?createDatabaseIfNotExist=true&useSSL=true
    driver-class-name: org.postgresql.Driver
    username: goqhhfqc
    password: Knif03MfU6MPHg6ScuQHHyzQpgXO1HgO
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database: postgresql
  flyway:
    baseline-on-migrate: false
    enabled: true
    locations: classpath:/db/migration
